#header > * {
  padding: 5px 15px;
}
#header-gradient {
  display: none;
  background-image: linear-gradient(135deg, #fad7a1 10%, #e96d71 100%);
  height: 70px;
}
#header > div {
  position: relative;
}
#header-left > img {
  margin-right: 15px;
}
#search-bar {
  border: 1px solid var(--black-color);
  padding: 3px 7px;
  background-color: rgba(240, 248, 255, 0);
}
#search-bar > input {
  background-color: rgba(255, 255, 255, 0);
}
#search-bar > button {
  border: 0px none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
#header-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.2em;
}
#header-right > select {
  padding: 7px 3px;
  outline: none;
  border: 0px solid black;
  background-color: transparent;
}
#bg-button {
  display: none;
  cursor: pointer;
}
#mob-navbar {
  display: none;
  position: fixed;
  z-index: 3000;
  right: 100%;
  top: 0%;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-color);
  transition: 0.4s ease-in-out;
}
#mob-navbar > .fr-li > .fr-dropdown {
  display: none;
}
#exit-btn {
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
#mb-menu-logo {
  position: absolute;
  z-index: 100;
  left: 15px;
  top: 15px;
  cursor: pointer;
}
.fr-li {
  list-style: none;
  padding: 5px 10px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.fr-li:hover > .fr-dropdown {
  opacity: 1;
  z-index: 300;
}
.fr-dropdown {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 50%;
  width: 500vw;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
  border-bottom: 1px solid var(--black-color);
}
.dropdownli {
  position: relative;
  list-style: none;
}
.dropdownli:hover,
.fr-li:hover {
  color: var(--secondary-color);
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 992px) {
  #navbar {
    display: none;
  }
  #mob-navbar {
    display: flex;
  }
  #mob-navbar > a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #header-center,
  #header-left {
    display: none;
  }
  #bg-button {
    display: flex;
    position: fixed;
    z-index: 2000;
    left: 15px;
    top: 15px;
  }
  #header-right {
    display: flex;
    position: fixed;
    z-index: 2000;
    right: 15px;
    top: 10px;
  }
  #header-gradient {
    display: flex;
  }
  .fr-li {
    background-color: var(--grey-color);
    padding: 15px 5px;
    margin: 5px 0px;
    width: 95%;
  }
  #header > * {
    padding: 0px 0px;
  }
}
